<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LocaCar{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <h1 class="logo">LocaCar</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('cadastro_veiculos') }}">Veículos</a></li>
                <li><a href="{{ url_for('painel_frota') }}">Minhas Reservas</a></li>
                <li><a href="{{ url_for('contato') }}">Contato</a></li>
                <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
                <li><a href="{{ url_for('faq') }}">Perguntas Frequentes</a></li>
                <li><a href="{{ url_for('perfil') }}">Perfil</a></li>
            </ul>
        </nav>
        <div class="user-info">
            <span id="username">Olá, Usuário</span>
            <img src="{{ url_for('static', filename='img/user.png') }}" alt="Foto de Perfil">
        </div>
    </header>

    <!-- Conteúdo dinâmico -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Rodapé -->
    <footer>
        <p>© 2025 LocaCar - Todos os direitos reservados.</p>
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>
